# Java: コンパイル済みクラスファイル
*.class

# Eclipse / VSCode 設定ディレクトリ
.vscode/
.classpath
.project
.settings/

# ビルド出力ディレクトリ
/bin/
/build/
/out/

# OS・エディタごとの不要ファイル
.DS_Store
Thumbs.db

# ログやバックアップファイル
*.log
*.bak

# ライブラリ（JAR）ファイル
*.jar

# SQLite 一時ファイル・設定ファイル
*.db-journal
*.sqbpro